[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.8"
djangorestframework = "==3.12.1"
drfpasswordless = "*"
django-cors-headers = "*"
pillow = "==8.1.1"
geopy = "==2.0.0"
faker = "*"
psycopg2-binary = "*"
gunicorn = "*"
requests = "==2.25.1"
django-mail-templated = "*"
drf-renderer-xlsx = "*"

[requires]
python_version = "3.7"
