[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.9"
djangorestframework = "==3.12.1"
drfpasswordless = "==1.5.7"
django-cors-headers = "==3.7.0"
pillow = "==8.3.2"
geopy = "==2.0.0"
faker = "*"
psycopg2-binary = "==2.8.6"
gunicorn = "==20.1.0"
requests = "==2.25.1"
django-mail-templated = "==2.6.5"
drf-renderer-xlsx = "==0.4.0"
mkdocs = "==1.2"

[requires]
python_version = "3.7"
